rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /profiles/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /goals/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /users/{userId}/meal_entries/{entryId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /foods/{foodId} {
      allow read: if request.auth != null;
      allow write: if false;
    }

    match /workouts/{workoutId} {
      allow read: if request.auth != null;
      allow write: if false;
    }
  }
}
